In [1]:
seq = [1,2,3,4,5]

In [2]:
for item in seq:
    print (item + item)

2
4
6
8
10

In [9]:
i = 1
while i < 6:
    print ('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4
i is 5

In [10]:
x = [1,2,3,4]

In [12]:
list(range(1,5))

[1, 2, 3, 4]

In [15]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [16]:
x = [1,2,3,4,5]

In [17]:
out = []
for num in x:
    out.append(num**2)
print (out)

[1, 4, 9, 16, 25]

In [21]:
#List Comprehension

In [22]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [23]:
def my_func():
    print ('hello')

In [24]:
my_func()

hello

In [42]:
def func (name = 'no name'):
    print ('hello ' + name)

In [44]:
func('hiten')

hello hiten

In [45]:
func()

hello no name

In [51]:
def function(name = 'no name'):
    '''
    This print out the user name!
    '''
    print ('hello ' + name)

In [52]:
#doc string when press (shift + tab)

In [53]:
function()

hello no name

In [54]:
#diffrence between print and return
#print just displays the actual values 
#return allows you to save the actual object or function we have to do and save as variable

In [55]:
def square(x):
    return x**2

In [56]:
result = square(2)

In [57]:
result

4

In [58]:
type(result)

int

In [59]:
def sq(x):
    print (x**2)

In [60]:
res = sq(2)

4

In [61]:
type(res)

NoneType

In [64]:
def times_two(var):
    return var * 2

In [65]:
times_two(10)

20

In [66]:
lambda var : var*2

In [67]:
st = 'hello my name is Sam'

In [68]:
st.upper()

'HELLO MY NAME IS SAM'

In [70]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [71]:
tweet = 'Hello #sports'

In [72]:
tweet.split('#')

['Hello ', 'sports']

In [ ]:
#dictionary

In [73]:
d= {'k1':'v1','k2':'v2'}

In [74]:
d.keys()

dict_keys(['k1', 'k2'])

In [75]:
d.values()

dict_values(['v1', 'v2'])

In [76]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [78]:
mylist = [1,2,3,4,5,6]

In [79]:
last = mylist.pop()

In [80]:
last

6

In [81]:
mylist

[1, 2, 3, 4, 5]

In [83]:
mylist.pop(0)

1

In [84]:
mylist

[2, 3, 4, 5]

In [85]:
'x' in mylist

False

In [86]:
2 in mylist

True

In [89]:
planet = "Earth"
diameter = 12742

In [91]:
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

In [92]:
lp = [4, 8, 9, 1]

In [93]:
h = 4 in lp

In [94]:
h

True

In [98]:
def f(word):
    if word[0] == "s":
        return True
    else:
        return False

In [99]:
f("hiten")

False

In [100]:
f("soup")

True

In [102]:
hi = ['hitn', 'soups','jon','sample','singapore','sedan','delhi','cake','samsung']

In [107]:
list (filter(f,hi))

['soups', 'sample', 'singapore', 'sedan', 'samsung']