In [4]:
import datetime

In [17]:

dt = datetime.datetime(2023, 1, 29, 9, 30)

In [18]:
one_hour_later = dt + datetime.timedelta(hours=1)

In [19]:
one_hour_later

datetime.datetime(2023, 1, 29, 10, 30)

In [20]:
one_day_earlier = dt - datetime.timedelta(days=1)

In [21]:
one_day_earlier

datetime.datetime(2023, 1, 28, 9, 30)

In [22]:
dt_now = datetime.datetime.now()

In [23]:
formatted_dt = dt.strftime("%d-%m-%Y %H:%M:%S")

In [24]:
formatted_dt

'29-01-2023 09:30:00'

In [25]:
import pandas as pd

In [34]:
df = pd.DataFrame({"id":[1,2,3,4,5,6,7,8,9,10],
              "name":["hiten","manav","hardeep","akshy","sumit","varun","shubham","loyum","virat","sagar"],
              "date_of_joining":[datetime.datetime.now().strftime("%d-%m-%Y")]*10})

In [35]:
df

   id     name date_of_joining
0   1    hiten      29-03-2023
1   2    manav      29-03-2023
2   3  hardeep      29-03-2023
3   4    akshy      29-03-2023
4   5    sumit      29-03-2023
5   6    varun      29-03-2023
6   7  shubham      29-03-2023
7   8    loyum      29-03-2023
8   9    virat      29-03-2023
9  10    sagar      29-03-2023