In [3]:
import pandas as pd
import numpy as np
import random

In [15]:
set1 = {random.randint(1,100) for val in range(12)}

In [16]:
set1

{6, 11, 28, 33, 48, 60, 62, 72, 73, 85, 93}

In [17]:
set2 = {33, 48, 60, 62, 72, 73, 85, 93, 42, 11, 2}

In [18]:
set1-set2

{6, 28}

In [19]:
set2-set1

{2, 42}

In [20]:
{32,42,32,33,44,42,11,22,32,44,87,87,88}

{11, 22, 32, 33, 42, 44, 87, 88}

In [21]:
set1==set2

False

In [26]:
{5,4,5} - {5,1,2}

{4}

In [25]:
{5,1,2} - {3,4,5}

{1, 2}

In [30]:
{5,3,4} == {3,4,5}

True

In [10]:
s1 = {3,7,8,9}
s2 = {9,4,6,1}
s3 = {3,2,5,6}

In [11]:
print('set1:',s1, 'set2:',s2,'\n')
print('intersection-  &  ',s1&s2) #intersection
print('union-  |  ',s1|s2) #union
print('difference-  -  ',s1-s2) #difference
print('symmetric_difference-  ^  ',s1^s2) #symmetric_difference

set1: {8, 9, 3, 7} set2: {9, 4, 6, 1}

intersection-  &   {9}
union-  |   {1, 3, 4, 6, 7, 8, 9}
difference-  -   {8, 3, 7}
symmetric_difference-  ^   {1, 3, 4, 6, 7, 8}

In [12]:
s1 | s2 | s3

{1, 2, 3, 4, 5, 6, 7, 8, 9}