In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
     --------------------------------------- 15.1/15.1 MB 10.7 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.3.2 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from sweetviz) (1.8.1)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from sweetviz) (4.64.0)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from sweetviz) (3.6.2)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.12.0-py3-none-any.whl (36 kB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from sweetviz) (1.23.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from sweetviz) (3.1.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from sweetviz) (1.4.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.38.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.0.6)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: colorama in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.4)
Requirement already satisfied: six>=1.5 in c:\users\hiten\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.12.0 sweetviz-2.1.4

In [4]:
import seaborn as sns

df = sns.load_dataset('titanic')

In [5]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [6]:
import sweetviz as sv

my_report = sv.analyze(df)
my_report.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.